body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffe6f2;
    color: #4b0082;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #ffb6c1;
    padding: 30px;
    border-bottom: 4px dashed #ff69b4;
}

header h1 {
    font-size: 2.5em;
    color: #800080;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background: #fff0f5;
    border-radius: 20px;
    box-shadow: 0 0 15px #ffa6c9;
}

h2 {
    color: #ff69b4;
    border-bottom: 2px dotted #ffb6c1;
    padding-bottom: 5px;
}

.espaco {
    height: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 182, 193, 0.6);
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ffc0cb;
}

th {
    background-color: #ff69b4;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #ffe4ec;
}

tr:hover {
    background-color: #ffe0f0;
}

tfoot tr {
    background-color: #ffb6c1;
    color: #4b0082;
    font-weight: bold;
}

footer {
    background-color: #ffb6c1;
    color: #800080;
    text-align: center;
    padding: 20px;
    border-top: 4px dashed #ff69b4;
}
